USE [Streaming service FINAL]
GO
ALTER TABLE [dbo].[Watchlog] DROP CONSTRAINT [FK__Watchlog__UserID__4CA06362]
GO
ALTER TABLE [dbo].[Watchlog] DROP CONSTRAINT [FK__Watchlog__Conten__4D94879B]
GO
ALTER TABLE [dbo].[PurchasedContent] DROP CONSTRAINT [FK__Purchased__UserI__5165187F]
GO
ALTER TABLE [dbo].[PurchasedContent] DROP CONSTRAINT [FK__Purchased__Conte__5070F446]
GO
ALTER TABLE [dbo].[PaymentMethods] DROP CONSTRAINT [FK__PaymentMe__UserI__3D5E1FD2]
GO
ALTER TABLE [dbo].[PaymentMethods] DROP CONSTRAINT [FK__PaymentMe__CardT__3E52440B]
GO
ALTER TABLE [dbo].[Featuring] DROP CONSTRAINT [FK__Featuring__Conte__5629CD9C]
GO
ALTER TABLE [dbo].[Featuring] DROP CONSTRAINT [FK__Featuring__Actor__571DF1D5]
GO
ALTER TABLE [dbo].[Content] DROP CONSTRAINT [FK__Content__Directo__49C3F6B7]
GO
ALTER TABLE [dbo].[Content] DROP CONSTRAINT [FK__Content__Directo__47DBAE45]
GO
ALTER TABLE [dbo].[Content] DROP CONSTRAINT [FK__Content__Company__48CFD27E]
GO
/****** Object:  Index [UQ__User__A9D10534D82B2985]    Script Date: 12/2/2025 2:58:50 PM ******/
ALTER TABLE [dbo].[User] DROP CONSTRAINT [UQ__User__A9D10534D82B2985]
GO
/****** Object:  Index [UQ__PaymentM__1788CCAD9697F30D]    Script Date: 12/2/2025 2:58:50 PM ******/
ALTER TABLE [dbo].[PaymentMethods] DROP CONSTRAINT [UQ__PaymentM__1788CCAD9697F30D]
GO
/****** Object:  Index [UQ__Company__737584F6A18AB110]    Script Date: 12/2/2025 2:58:50 PM ******/
ALTER TABLE [dbo].[Company] DROP CONSTRAINT [UQ__Company__737584F6A18AB110]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentMethods]') AND type in (N'U'))
DROP TABLE [dbo].[PaymentMethods]
GO
/****** Object:  Table [dbo].[CardType]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CardType]') AND type in (N'U'))
DROP TABLE [dbo].[CardType]
GO
/****** Object:  View [dbo].[AllContent]    Script Date: 12/2/2025 2:58:50 PM ******/
DROP VIEW [dbo].[AllContent]
GO
/****** Object:  Table [dbo].[Director]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Director]') AND type in (N'U'))
DROP TABLE [dbo].[Director]
GO
/****** Object:  View [dbo].[MostPopularMedia]    Script Date: 12/2/2025 2:58:50 PM ******/
DROP VIEW [dbo].[MostPopularMedia]
GO
/****** Object:  View [dbo].[Mostpopular]    Script Date: 12/2/2025 2:58:50 PM ******/
DROP VIEW [dbo].[Mostpopular]
GO
/****** Object:  Table [dbo].[Watchlog]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Watchlog]') AND type in (N'U'))
DROP TABLE [dbo].[Watchlog]
GO
/****** Object:  View [dbo].[PurchasedContentView]    Script Date: 12/2/2025 2:58:50 PM ******/
DROP VIEW [dbo].[PurchasedContentView]
GO
/****** Object:  Table [dbo].[PurchasedContent]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PurchasedContent]') AND type in (N'U'))
DROP TABLE [dbo].[PurchasedContent]
GO
/****** Object:  Table [dbo].[ContentType]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContentType]') AND type in (N'U'))
DROP TABLE [dbo].[ContentType]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Company]') AND type in (N'U'))
DROP TABLE [dbo].[Company]
GO
/****** Object:  View [dbo].[SearchByActor]    Script Date: 12/2/2025 2:58:50 PM ******/
DROP VIEW [dbo].[SearchByActor]
GO
/****** Object:  Table [dbo].[Featuring]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Featuring]') AND type in (N'U'))
DROP TABLE [dbo].[Featuring]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Content]') AND type in (N'U'))
DROP TABLE [dbo].[Content]
GO
/****** Object:  View [dbo].[ViewActors]    Script Date: 12/2/2025 2:58:50 PM ******/
DROP VIEW [dbo].[ViewActors]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 12/2/2025 2:58:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Actor]') AND type in (N'U'))
DROP TABLE [dbo].[Actor]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[ActorID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewActors]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[ViewActors] AS
Select * From Actor;
GO
/****** Object:  Table [dbo].[Content]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[ContentID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ContentTypeID] [bigint] NOT NULL,
	[CompanyID] [bigint] NOT NULL,
	[DirectorID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Featuring]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Featuring](
	[FeaturingID] [bigint] IDENTITY(1,1) NOT NULL,
	[ContentID] [bigint] NOT NULL,
	[ActorID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeaturingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SearchByActor]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[SearchByActor] as(
SELECT  
    c.Title, 
    a.FirstName + ' ' + a.LastName AS Actor 
FROM Content c 

Inner JOIN Featuring f ON c.ContentID = f.ContentID 

Inner JOIN Actor a ON f.ActorID = a.ActorID 

WHERE a.LastName = 'Dalton');    
--search by actor
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentType]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentType](
	[ContentTypeID] [bigint] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchasedContent]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasedContent](
	[PurchasedContentID] [bigint] IDENTITY(1,1) NOT NULL,
	[ContentID] [bigint] NULL,
	[UserID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchasedContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PurchasedContentView]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[PurchasedContentView] AS(
SELECT  

    c.Title, 

    ct.Type, 

    comp.Name AS Company 

FROM PurchasedContent pc 

INNER JOIN Content c ON pc.ContentID = c.ContentID 

INNER JOIN ContentType ct ON c.ContentTypeID = ct.ContentTypeID 

INNER JOIN Company comp ON c.CompanyID = comp.CompanyID);
GO
/****** Object:  Table [dbo].[Watchlog]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watchlog](
	[WatchlogID] [bigint] IDENTITY(1,1) NOT NULL,
	[WatchDate] [date] NOT NULL,
	[UserID] [bigint] NULL,
	[ContentID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[WatchlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Mostpopular]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Mostpopular] AS
SELECT top 100
    c.Title, 

    w.WatchDate 

FROM Watchlog w 

INNER JOIN Content c ON w.ContentID = c.ContentID 

WHERE w.UserID = '2' 

ORDER BY w.WatchDate DESC; 
--history of a user
GO
/****** Object:  View [dbo].[MostPopularMedia]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[MostPopularMedia] AS
SELECT  Top 100

    c.Title, 

    COUNT(w.WatchLogID) AS Watches 

FROM Watchlog w 

INNER JOIN Content c ON w.ContentID = c.ContentID 

WHERE w.WatchDate >= DATEADD(DAY, -365, GETDATE()) 

GROUP BY c.Title 

ORDER BY Watches DESC; 
--most popular media
GO
/****** Object:  Table [dbo].[Director]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Director](
	[DirectorID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AllContent]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[AllContent] AS
SELECT  

    c.Title, 

    ct.Type AS ContentType, 

    comp.Name AS Company, 

    d.FirstName + ' ' + d.LastName AS Director 

FROM Content c 

INNER JOIN ContentType ct ON c.ContentTypeID = ct.ContentTypeID 

INNER JOIN Company comp ON c.CompanyID = comp.CompanyID 

INNER JOIN Director d ON c.DirectorID = d.DirectorID; 
--all content + info of media
GO
/****** Object:  Table [dbo].[CardType]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardType](
	[CardTypeID] [bigint] IDENTITY(1,1) NOT NULL,
	[CardType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CardTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[CardNumber] [bigint] NOT NULL,
	[UserID] [bigint] NULL,
	[CardTypeID] [bigint] NULL,
	[ExpirationMonth] [bigint] NULL,
	[ExpirationYear] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/2/2025 2:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([ActorID], [FirstName], [LastName]) VALUES (1, N'Liam', N'Harrington')
INSERT [dbo].[Actor] ([ActorID], [FirstName], [LastName]) VALUES (2, N'Emma', N'Caldwell')
INSERT [dbo].[Actor] ([ActorID], [FirstName], [LastName]) VALUES (3, N'Noah', N'Santiago')
GO
SET IDENTITY_INSERT [dbo].[Actor] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyID], [Name]) VALUES (22, N'ApexMotion Media')
INSERT [dbo].[Company] ([CompanyID], [Name]) VALUES (79, N'ArcticStream Media')
INSERT [dbo].[Company] ([CompanyID], [Name]) VALUES (72, N'AstraFlix Productions')
GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([ContentID], [Title], [ContentTypeID], [CompanyID], [DirectorID]) VALUES (2, N'Midnight Echo', 1, 1, 4)
INSERT [dbo].[Content] ([ContentID], [Title], [ContentTypeID], [CompanyID], [DirectorID]) VALUES (3, N'Shattered Horizons', 1, 2, 12)
INSERT [dbo].[Content] ([ContentID], [Title], [ContentTypeID], [CompanyID], [DirectorID]) VALUES (4, N'Whispers of Winter', 2, 3, 18)
GO
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[ContentType] ON 

INSERT [dbo].[ContentType] ([ContentTypeID], [Type]) VALUES (1, N'Movie')
INSERT [dbo].[ContentType] ([ContentTypeID], [Type]) VALUES (2, N'Series')
INSERT [dbo].[ContentType] ([ContentTypeID], [Type]) VALUES (3, N'Documentary')
SET IDENTITY_INSERT [dbo].[ContentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Director] ON 

INSERT [dbo].[Director] ([DirectorID], [FirstName], [LastName]) VALUES (1, N'William', N'Harker')
INSERT [dbo].[Director] ([DirectorID], [FirstName], [LastName]) VALUES (2, N'Sofia', N'Lorenzo')
INSERT [dbo].[Director] ([DirectorID], [FirstName], [LastName]) VALUES (3, N'Marcus', N'Coleman')
GO
SET IDENTITY_INSERT [dbo].[Director] OFF
GO
SET IDENTITY_INSERT [dbo].[Featuring] ON 

INSERT [dbo].[Featuring] ([FeaturingID], [ContentID], [ActorID]) VALUES (7, 2, 12)
INSERT [dbo].[Featuring] ([FeaturingID], [ContentID], [ActorID]) VALUES (8, 2, 44)
INSERT [dbo].[Featuring] ([FeaturingID], [ContentID], [ActorID]) VALUES (9, 2, 7)
GO
SET IDENTITY_INSERT [dbo].[Featuring] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchasedContent] ON 

INSERT [dbo].[PurchasedContent] ([PurchasedContentID], [ContentID], [UserID]) VALUES (2, 2, 1)
INSERT [dbo].[PurchasedContent] ([PurchasedContentID], [ContentID], [UserID]) VALUES (3, 2, 1)
INSERT [dbo].[PurchasedContent] ([PurchasedContentID], [ContentID], [UserID]) VALUES (4, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[PurchasedContent] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (1, N'Daniel', N'Ramirez', N'daniel.ramirez@example.com', N'Pass123!')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (2, N'Samantha', N'Lopez', N'samantha.lopez@example.com', N'Pass123!')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Password]) VALUES (3, N'Javier', N'Martinez', N'javier.martinez@example.com', N'Pass123!')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Watchlog] ON 

INSERT [dbo].[Watchlog] ([WatchlogID], [WatchDate], [UserID], [ContentID]) VALUES (73, CAST(N'2025-01-01' AS Date), 2, 10)
INSERT [dbo].[Watchlog] ([WatchlogID], [WatchDate], [UserID], [ContentID]) VALUES (74, CAST(N'2025-01-01' AS Date), 2, 45)
INSERT [dbo].[Watchlog] ([WatchlogID], [WatchDate], [UserID], [ContentID]) VALUES (75, CAST(N'2025-01-02' AS Date), 3, 28)
SET IDENTITY_INSERT [dbo].[Watchlog] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Company__737584F6A18AB110]    Script Date: 12/2/2025 2:58:50 PM ******/
ALTER TABLE [dbo].[Company] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PaymentM__1788CCAD9697F30D]    Script Date: 12/2/2025 2:58:50 PM ******/
ALTER TABLE [dbo].[PaymentMethods] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534D82B2985]    Script Date: 12/2/2025 2:58:50 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD FOREIGN KEY([ContentTypeID])
REFERENCES [dbo].[ContentType] ([ContentTypeID])
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD FOREIGN KEY([DirectorID])
REFERENCES [dbo].[Director] ([DirectorID])
GO
ALTER TABLE [dbo].[Featuring]  WITH CHECK ADD FOREIGN KEY([ActorID])
REFERENCES [dbo].[Actor] ([ActorID])
GO
ALTER TABLE [dbo].[Featuring]  WITH CHECK ADD FOREIGN KEY([ContentID])
REFERENCES [dbo].[Content] ([ContentID])
GO
ALTER TABLE [dbo].[PaymentMethods]  WITH CHECK ADD FOREIGN KEY([CardTypeID])
REFERENCES [dbo].[CardType] ([CardTypeID])
GO
ALTER TABLE [dbo].[PaymentMethods]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[PurchasedContent]  WITH CHECK ADD FOREIGN KEY([ContentID])
REFERENCES [dbo].[Content] ([ContentID])
GO
ALTER TABLE [dbo].[PurchasedContent]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Watchlog]  WITH CHECK ADD FOREIGN KEY([ContentID])
REFERENCES [dbo].[Content] ([ContentID])
GO
ALTER TABLE [dbo].[Watchlog]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
